img.logo {
  width: 50px;
  height: auto;
}

.navbar {
  font-family: 'Nanum Gothic', Arial, sans-serif;
  font-weight: bold;
  padding: 20px;
  /*background-image: linear-gradient(to bottom right, red, yellow);*/
  background-image: linear-gradient(to bottom right, SeaGreen , PaleGreen );
}

.navbar li{
  padding-left: 40px;
  padding-right: 40px;
}

.visible-grand-ecran{
    display:block;
}
.visible-petit-ecran{
    display:none;
}
@media screen and (max-width: 991px) {
  .visible-grand-ecran {
    display:none;
    clear:both;
  }
  .visible-petit-ecran {
    display:block;
    clear:both;
  }
}
