body{
  margin:0;
  padding: 0;
  background: #dddddd;
  font-family: 'Nanum Gothic', Arial, sans-serif;
}

img.logo {
  width: 50px;
  height: auto;

}

.navbar-brand{
  margin-left: 30px;
  margin-right: 30px;
}
.navbar {
  position: fixed;
  font-family: 'Nanum Gothic', Arial, sans-serif;
  font-weight: bold;
  /*padding: 20px;*/
  width: 100%;
  background: rgba(150, 150, 150, 0.1);
  padding: 0;
  /*background-image: linear-gradient(to bottom right, red, yellow);*/
  /*background-image: linear-gradient(to bottom right, #b71540 , PaleGreen );*/
  z-index: 10;
  transition: 0.5s;


}

.navbar-red {
  background: #b71540;
}

.navbar li{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: 0.5s;
}

.navbar li:hover,
.navbar-light .navbar-nav .nav-item.active{
  background: rgba(75, 75, 75, 0.3);
}

.visible-grand-ecran{
    display:block;
}
.visible-petit-ecran{
    display:none;
}
@media screen and (max-width: 991px) {
  .visible-grand-ecran {
    display:none;
    clear:both;
  }
  .visible-petit-ecran {
    display:block;
    clear:both;
  }
  .navbar {
        background: #b71540;
  }
  .groupes {
    display:none;
    clear:both;
  }

}

.footer {
    text-align: center;
    padding: 30px 0;

    border-top: 1px solid #e5e5e5;
    color: white;
    background-color: #f5f5f5;
    background-image: linear-gradient(125deg,#d5d5d5,#b71540,#d5d5d5,#b71540);
    background-size: 400%;
    animation: bganimation 25s infinite;
}

@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.footer-links{
  padding-inline-start: 0px; /*supprimer le decalage de la liste*/
  margin: 10px 0;
}
.footer-links li{
  display: inline;
  padding: 0 3px;
}


.banner{
  position: relative;
  background: url(../Image/Boule.jpg);/*Boule Noel Cadeau*/
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 200px 0 200px;
  box-shadow: inset 0 -6px 5px rgba(0, 0, 0, 0.05);
}

.banner.cadeau {
  background: url(../Image/Cadeau.jpg);/*Boule Noel Cadeau*/
}
.banner.background{
  background: #dddddd;
}

.banner p{
  margin: 1em 0 0;
  padding: 0;
  margin-bottom: 2em;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: 'Nanum Gothic', Arial, sans-serif;
}
.banner h2{
  font-weight: bold;
}

.box-connect{
  text-align: right;
}

.box-connect input[type = "text"],.box-connect input[type = "password"], .input-text{
  border: 0;
  background: rgba(200,200,200,0.3);
  display: block;
  margin : 5px auto;
  text-align: center;
  border: 2px solid #CE233F;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 30px;
  transition: 0.25s;
}
.box-connect input[type = "text"]:hover,.box-connect input[type = "password"]:hover, .input-text:hover{
  width: 250px;
  background: rgba(100,100,100,0.3);
  border-color: #b71540;
}
.box-connect input[type = "text"]:focus,.box-connect input[type = "password"]:focus, .input-text:focus{
  width: 100%;
  border-color: #b71540;
}

.box-connect input[type = "submit"],.box-connect a, .ajout-membre input,.ajout-membre button
, .nouveau-groupe input,.nouveau-groupe button , .modifier-membre-inactif input, 
.modifier-membre-inactif button, .modifier-membre-inactif textarea, .modifier-membre-inactif input[type="file"] {
  border: 0;
  background: rgba(50,50,50,0.3);
  display: block;
  margin : 5px auto;
  text-align: center;
  border: 2px solid #CE233F;
  padding: 14px 10px;
  width:100%;
  outline: none;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: 0.25s;
}

.modifier-membre-inactif input, 
.modifier-membre-inactif button, .modifier-membre-inactif textarea, .modifier-membre-inactif input[type="file"] {
  border: 0;
  background: rgba(50,50,50,0.3);
  display: block;
  margin : 5px auto;
  text-align: center;
  border: 2px solid #CE233F;
  padding: 7px 10px;
  width:100%;
  outline: none;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: 0.25s;
}



.box-connect input[type = "submit"]:hover,.box-connect a:hover{
  width: 90%;
  border-left-width: 40px;
  border-color: #b71540;
  color: #b71540;
}
.box-connect input[type = "submit"]:focus,.box-connect a:focus{
  width: 90%;
  border-color: #b71540;
  color: #b71540;
}


.box-connect input[type = "submit"]:hover,.box-connect a:hover{
  width: 90%;
  border-left-width: 40px;
  border-color: #b71540;
  color: #b71540;
}
.box-connect input[type = "submit"]:focus,.box-connect a:focus{
  width: 90%;
  border-color: #b71540;
  color: #b71540;
}

.rester_connecte {
  text-align: left;
  font-style: italic;
  font-size: 100px;
}

.switch{
  margin-top: 24px;
  margin-left: 10px;
  /*transform: translate(-50%,-50%);*/
}

.box-checkbox {
    text-align: right;
    float: right;
}

.box-checkbox input[type = "checkbox"]{
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance:none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
.box-checkbox input:checked[type = "checkbox"]{
  background: #b71540;

}
.box-checkbox input[type = "checkbox"]:before{
  content:'';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.box-checkbox input:checked[type = "checkbox"]:before{
  left: 20px;
}



::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
}

.icone-color{
  transition: all ease 2s;
}
.icone-color:hover {
    transform: rotate(360deg) scale(10);
}
.icone-color-inv{
  transition: all ease 2s;
}
.icone-color-inv:hover {
    transform: rotate(-360deg) scale(10);
}




.fonctionnality{
  margin-top: 0;
  z-index: 100px;
  text-align: center;
}

.sec2{

  width: 100%;
  height: 100px;
  background: rgba(255, 0, 0, 0.0);
  position: relative;
  overflow: hidden;
  /*transform: translateY(-100px);*/
}
.sec2:before{
 content: '';
 position: absolute;
 bottom: 100%;
 left: 0%;
 width: 200%;
 height: 200%;
 background: #fff;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 transform-origin: left;
 transform: skewY(3deg);
}

.base{
  width: 100%;
  height:100px;
}

.center{
  text-align: center;
}

.margin-h2-b{
  margin-bottom: 60px;
}


.padding-page{
  padding-top: 100px;
}

.margin-zero{
  margin: 0;
}
.membres, .membre{
  padding: 0;
  margin:0;
}

.full{
  display: flex;
  flex-direction: column;
  min-height: 100vh;


}
.full-screen{
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}
.full-div{
  flex: 1 0 auto;
}
.groupes{
  padding: 0;
  margin:0;
  background: #ccc;
  max-height: 74.4vh;
  overflow: auto;
  min-width: 400px;
}

.un-groupe{
padding-top: 20px;
padding-bottom: 20px;
/*margin-top: 20px;
margin-bottom: 20px;*/
border-bottom: 2px solid black;
}

.membres{

  padding: 0;
  margin:0;
  background: #ccc;
  max-height: 74.4vh;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
  float: none;
}


.un-membre{

  height: 80%;
  background: #ccc;
  overflow: auto;
  display: inline-block;
  float: left;
  border:2px solid #b71540;

  text-align: center;


}
.add-membre, .suppr-membre{
  padding: 0;
  border: 0;
  height: 80%;
  background: #ccc;
  overflow: auto;
  display: inline-block;
  float: left;
  border:2px solid #b71540;

}
.center-membre{
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;

}
.center-membre button{
  padding: 0;
  border: 0;
  display: block;
  width:100%;
  height: 100%;
  outline: none;
  font-size: 200px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 1.5s;
}
.center-membre p{
  font-size: 20px;
  transition: all ease 1.5s;
}
.center-membre p:hover{
  transform:scale(0.6);
  color: #b71540;
}
.center-membre i{
  color: white;
  transition: all ease 1s;
}
.center-membre i:hover {
    transform: rotate(20deg) scale(0.6);
    color: #b71540;
}

.btn-membre{
  border: 0;
  background: rgba(50,50,50,0.3);
  display: block;
  margin : 5px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 10px;
  width:100%;
  outline: none;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}
.btn-membre:hover{
  width: 95%;
  text-decoration: none;
  border-left-width: 40px;

  color: green;
}

.entete{
margin-bottom: 20px;
}
.entete i{
  margin-top: 15px;
  font-size: 80px;
}
.table-cadeaux, .table-cadeaux table{
  font-size: 20px;
  margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.groupes button{
  padding: 0;
  border: 0;
  display: block;
  width:100%;
  outline: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: 0.25s;
}
.groupes button:hover{
  color: #b71540;
}

.groupes a{
  text-decoration: none;
  color: black;
  font-size: 30px;

}
.groupes p{
  margin: 0;
  margin-left: 10px;
}
.groupes i{
  margin-left: 30px;
  margin-right: 40px;
  color: white;
  background: black;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.un-groupe:hover i{
  color: green;
  transform: scale(2);
}

.visible{
  display: block;
}
.invisible{
  display: none;
}

.ajout-membre,.nouveau-groupe,.supprimer-groupe,.ajout-cadeau-membre,.modifier-membre-inactif, .modifier-membre-inactif-groupe {
  position: fixed;
    z-index: 1001;
    top: 30%;
    left: 47.5%;
    text-align:  center;
    background: #b71540;
    border-radius: 25px;
    box-shadow: 5px 5px 30px 0 rgba(50, 0, 0, 0.5);
    margin: -75px 0 0 -150px;
    width: 400px;
    height: 450px;
}

.modifier-membre-inactif {
 position: fixed;
    z-index: 1001;
    top: 25%;
    left: 47.5%;
    text-align:  center;
    background: #b71540;
    border-radius: 25px;
    box-shadow: 5px 5px 30px 0 rgba(50, 0, 0, 0.5);
    margin: -75px 0 0 -150px;
    width: 400px;
    height: 550px;
}
.ajout-membre h2,.nouveau-groupe h2,.supprimer-groupe h2,.ajout-cadeau-membre h2,.modifier-membre-inactif h2, .modifier-membre-inactif-groupe h2{
  margin-top: 30px;
}


.barrer{
  text-decoration: line-through;
}
.vert{
  color: green;
  font-weight: bold;
}
